<% content_for :title do %>GANTT4<% end %>
    <script type='text/javascript'>
     $(function() {
      Dashing.widget_base_dimensions = [300, 300]
        Dashing.numColumns = [5,3]
     });
     </script>
    <div class="gridster">
    
     <ul>
        
      <li data-row="1" data-col="1" data-sizex="5" data-sizey="3">
        <div data-id="gantt4" data-view="Gantt" ></div>
      </li>

     </ul>
    </div>
     