// ----------------------------------------------------------------------------
// Widget-doughnut-chart styles
// ----------------------------------------------------------------------------
.widget-Barchart {

  //background-color: $background-color;

  .title {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    bottom: 7px
  }
}